<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalpa.video.repository.mapper.TypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalpa.video.repository.po.Type">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="type_name" property="typeName" />
        <result column="type_icon" property="typeIcon" />
        <result column="created_at" property="createdAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, type_name, type_icon, created_at, update_at
    </sql>

</mapper>
